.cashbackapp{
    position: relative;
    top: 60px;
    display: none;
}   

.appvideo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.appvideo h1{
    background: #005551;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    color: #fff;
    width: 100%;
}

.videoframe{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background: #fff;
    padding-top: 100px;
    padding: 40px;
    width: 90%;
    height: 600px;
}

.video{
    width: 70%;
    height: auto;
    /*
    width: 1274px;
    height: 720px;
    */
    margin: 10px;
}

.source{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.source1{
    display: none;
}

.source p{
    background-color: #005551;
    color: #fff;
    width: 90%;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
    border: 3px solid #005551;
    transition: .3s;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.sourcetxt {
    min-width: 500px;
}

.sourcetxt:hover{
    background: #fff;
    color: #005551;
    border: 3px solid #005551;
}

.appstore{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    padding: 40px;
    overflow: hidden;
}

.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.storeimg{
    max-width: 80%;
}

.store img{
    padding: 50px;
    cursor: pointer;
}

.faq{
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    position: relative;
    top: 40px;
    padding: 40px;
    text-align: center;
    overflow: hidden;
}

.faq h2{
    color: #005551;
    font-size: 40px;
    margin-top: 20px;
    max-width: 90%;
}

.faqlink{
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    width: 500px;
    height: 200px;
}

.faqlink:hover{
    transform: scale(1.2);
}

.follow{
    display: block;
}


.socialmedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 40px;
}

.socialmedia a{
    margin: 20px;
    
}

.socialimg{
    max-height: 100px;
    cursor: pointer;
    transition: .3s;
}

.socialimg:hover{
    transform: scale(1.2);
}





@media screen and (max-width: 1440px){
    .cashbackapp{
        top: 50px;

    }

    .appvideo h1{
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 30px;
    }

    .videoframe{
        margin-top: 10px;
        max-height: 400px;
    }

    .appBox p{
        font-size: 20px;
    }

    .mlm1 p{
        font-size: 20px;
    }

    .source{
        width: 300px;
    }

    .sourcetxt{
        min-width: 230px;
    }

    .source p{
        font-size: 30px;
    }

}



@media screen and (max-width: 767px){
    .cashbackapp{
        top: 60px
    }

    .appvideo h1{
        font-size: 20px;
        padding-bottom: 10px;
    }


    .videoframe{
        flex-direction: column-reverse;
        margin-top: 10px;
        width: 100%;
        padding-top: 0px; /* 20px for source1 display block*/
        padding-bottom: 0px;
        margin-bottom: 40px;
        min-height: 530px;
    }
    
    .video{
        width: 100%;
        height: 300px;
        margin: 0;
    }


    .source p{
        margin-top: 10px;
        margin-bottom: 10px;
        
        font-size: 20px;
    }

    .faq a{
        font-size: 30px;
    }

    .faq h2{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .faq{
        overflow: hidden;
        margin: auto;
        padding: 0;
        margin-bottom: 20px;
    }

    .appstore{
        width: 100%;
        padding: 0;
       
    }

    .store a{
        position: relative;
        right: 60px;
        padding: 0;
    }

    .store img{ 
        padding: 10px 30px;
    }

    .socialmedia a{
        margin: 10px;
    }

    .socialimg{
        max-height: 60px;
    }

    .faqlink{
        width: 300px;
        max-height: 100px;
        margin: 0;
    }

}

