.cashbackapp{
    position: relative;
    top: 100px;
    display: none;
}   

.appvideo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.appvideo h1{
    background: #005551;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #fff;
    width: 100%;
}

.videoframe{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background: #fff;
    padding: 40px;
    width: 90%;
}

.video{
    width: 70%;
    height: auto;
    /*
    width: 1274px;
    height: 720px;
    */
}

.source{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff;

}

.source p{
    background-color: #005551;
    color: #fff;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
    border: 3px solid #005551;
    transition: .3s;
    font-family: 'Open Sans', sans-serif;;
}

.sourcetxt:hover{
    background: #fff;
    color: #005551;
    border: 3px solid #005551;
}

.appstore{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    padding: 40px;
    overflow: hidden;
}

.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.storeimg{
    max-width: 80%;
}

.store img{
    padding: 50px;
    cursor: pointer;
}

.faq{
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    position: relative;
    top: 40px;
    padding: 40px;
    text-align: center;
    overflow: hidden;
}

.faq h2{
    color: #005551;
    font-size: 40px;
    margin-top: 20px;
    max-width: 90%;
}

.faq a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 60px;
    color: #f29533;
    background-color: #005551;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    max-width: 90%;
    text-transform: uppercase;
    
}

.faqlink:hover{
    background: #f29533;
    color: #005551;
}



@media screen and (max-width: 767px){
    .cashbackapp{
        top: 50px
    }

    .appvideo h1{
        font-size: 30px;
        padding-bottom: 10px;
    }

    .source p {
        font-size: 20px;
    }

    .videoframe{
        flex-direction: column-reverse;
        margin-top: 10px;
        width: 100%;
        padding: 5px;
    }
    
    .video{
        width: 100%;
        height: 300px;
    }

    .source p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .faq a{
        font-size: 30px;
    }

    .faq h2{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .faq{
        overflow: hidden;
        margin: auto;
        padding: 0;
        margin-bottom: 20px;
    }

    .appstore{
        width: 100%;
        padding: 0;
       
    }

    .store a{
        position: relative;
        right: 60px;
    }




}

