*{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

.uc {
    display: flex; /* flex!! */

    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    color: #e68928;
    overflow: hidden;
    width: 700px;
    margin: auto;
    background-color: #fff;
    height: 100vh;
    
}

.underconstruction p{
    font-size: 40px;
    margin: 20px;
}

.underconstruction img{
    max-width: 500px;
}

.content11{
    display: block;
}

.content7{
    display: block;
}

.content8{
    display: block;
}

.content9{
    display: block;
}

.content10{
    display: block;
}

@media screen and (max-width: 1440px){
    .underconstruction img{
        max-width: 300px;
    }

    .underconstruction p{
        font-size: 30px;
        margin: 20px;
    }
}


@media screen and (max-width: 767px){
    .uc{
        width: 300px;

    }

    .underconstruction p{
        font-size: 25px;
        width: 100%;
        text-align: center;
    }

    .underconstruction img{
        max-width: 300px;
    }

}