.content{
    display: block; /*block*/
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f29533;
    border-bottom: 16px solid #f29533;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-image: linear-gradient(to right,#e68928 ,#4b2011);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 70px;
    font-size: 18px;
    z-index: 111;
}

header .logo{
    float: left;
    position: absolute;
    color: #fff;
    height: 95px;
    top: -10px;
    left: 10px;
    cursor: pointer;
}

header nav{
    float: right;
    line-height: 70px;
    position: relative;
    z-index: 1111;
}

.hamburger{
    width: 100px;
    height: 100px;
    float: right;
    display: none;
    cursor: pointer;
    transition: 1s;
}


.hamburger:hover{
    transform: rotate(360deg);
}



.sub{
    position: absolute;
    display: block;
    border: 2px solid #f29533;
    border-radius: 10px;
    background: #2d3033;
}


/*order mixed, subthree is in place of subfive and vice versa*/
.sub1{
    display: none;
    position: absolute;
    right: 670px;
    transition: .4s;
}

.sub2{
    display: none;
    position: absolute;
    right: 500px;
    transition: .4s;
}

.sub3{
    display: none;
    position: absolute;
    right: 0px;
    transition: .4s;
}

.sub5{
    display: none; /*none*/
    position: absolute;
    right: 260px;
    transition: .4s;
}

.subclose{
    display: none;
}

.sub a{
    height: 60px;
    text-align: center;
    line-height: 50px;
}

.sub a:hover {
    color: #e68928;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}


header nav ul li{
    list-style: none;
    display: block;
    margin: 0 20px;
}

header nav ul li a{
    text-transform: none;
    text-decoration: none;
    transition: .4s;
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    display: block;
}


.subarrow{
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    transition: .4s;
}


/*order mixed, arrthree is in place of arrfive and vice versa*/
.arrone{
    top: 55px;
    right: 720px;
}

.arrtwo{
    right: 570px;
    top: 55px;
}

.arrthree{
    right: 70px;
    top: 55px;

}

.arrfour{
    top: 55px;
    right: 185px;
}

.arrfive{
    right: 370px;
    top: 55px;
}

.hidepage{
    position: absolute !important;
    left: -500% !important;
}


@media screen and (max-width: 1440px){
    header{
        height: 50px;
    }

    header .logo{
        height: 73px;

    }

    .navul li a{
        line-height: 50px;
    }
    
    .arrone{
        top: 42px;
        right: 720px;
    }
    
    .arrtwo{
        right: 570px;
        top: 42px;
    }
    
    .arrthree{
        right: 75px;
        top: 42px;
    
    }
    
    .arrfour{
        top: 42px;
        right: 187px;
    }
    
    .arrfive{
        right: 370px;
        top: 42px;
    }
    

}


@media screen and (max-width: 900px) {
    header{
        height: 70px;
    }

    header .logo{
        height: 100px;

    }

    .hamburger{
        display: block;
        width: 70px;
        height: 70px;
    }

    nav{
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -70px;
        left: -100%;
        background: #2d3033;
        transition: 1s;
    }

    .navul{
        display: block;
        text-align: center;
    }

    .navul li{
        margin: 30px 10px;
    }

    .navul li a{
        border: 3px solid #f29533;
        border-radius: 10px;
        height: 40px;
        line-height: 40px;
        font-weight: 100;
    }

    .navul li a:hover{
        color: #f29533;
    }

    .subarrow{
        display: none;
    }

    .menuBtn6{
        width: 100px;
        height: 100px;
        transition: 1s;
    }

    .menuBtn6:hover{
        transform: rotate(360deg);
    }

    .sub{
        height: 100vh;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .sub a:hover{
        color: #f29533;
    }

    .sub1{
        display: none;
    }

    .sub2{
        display: none;
    }

    .sub3{
        display: none;
    }

    .sub5{
        display: none;
    }
    .subclose1, .subclose2, .subclose3, .subclose5{
        width: 100px;
        height: 100px;
        display: block;
        text-align: center;
        margin: auto;
        transition: 1s;
    }

    .subclose1:hover, .subclose2:hover, .subclose3:hover, .subclose5:hover{
        transform: rotate(360deg);
    }

 


}

