.content2{
    display: none;
}

.reg{
    width: 100%;
    height: 80vh;
    position: relative;
    top: 100px;
    margin: auto;
}

.regcontainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    background-color: black;
}

.clivideo, .marvideo{
    width: 100%;
    height: 100%;
}

.regcontainer iframe{
    width: 100%;
    height: 100%;
}




/* content3 styles */

.content3 {
    display: none;
}



@media screen and (max-width: 1440px){
    .reg{
        top: 70px;
    }
}

@media screen and (max-width: 767px){
    .clivideo, .marvideo{
        width: 100vw;
        height: 56vw;
    }
}